* {
	-webkit-tap-highlight-color: transparent;
}
body {
	font-family: 'Lato', sans-serif;
}
a {
	text-decoration: none;
}

// button {
// 	padding: 0;
// }

// p {
// 	margin: 0 0 10px 0;
// }

// ul {
// 	padding-left: 10px;
// 	margin: 0;
// 	li {
// 		list-style-type: none;
// 		margin-bottom: 5px;
// 		&:last-child {
// 			margin-bottom: 0;
// 		}
// 	}
// }

ul {
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}