.cover {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 750px;
	margin-top: 100px;
	@media #{$laptop} {
		background-position: 75% 50%;
		min-height: calc(100vh - 100px);
	}
	@media #{$tablet} {
		margin-top: 0;
		min-height: calc(100vh - 50px);
	}
	@media #{$phone} {
		min-height: calc(100vh - 40px);
	}
	&__wrapper {
		padding: 103px 0 20px;
		width: 100%;
		max-width: 780px;
		@media #{$laptop} {
			max-width: 680px;
		}
		@media #{$phone} {
			padding: 20px 0;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			height: 100%;
		}
	}
	&__title {
		margin-bottom: 80px;
		@media #{$phone} {
			margin-bottom: 40px;
			margin-top: auto;
		}
	}
	&__content {
		margin-bottom: 80px;
		@media #{$phone} {
			margin-bottom: 30px;
		}
	}
	.container {
		@media #{$phone} {
			height: calc(100vh - 40px)
		}
	}
}