.footer-contacts {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	@media #{$tablet} {
		justify-content: flex-start;
		margin-top: 20px;
	}
	@media #{$phone} {
		margin-top: 30px;
		flex-direction: column;
	}
	&__item {
		margin-left: 38px;
		@media #{$phone} {
			margin-left: 0px;
			margin-top: 10px;
		}
		&:first-child {
			margin-left: 0;
			@media #{$phone} {
				margin-top: 0;
			}
		}
	}
}
