.footer {
	background: #3D4050;
	padding: 30px 0;
	&__wrapper {
		display: flex;
		@media #{$laptop} {
			flex-wrap: wrap;
		}
	}
	&__col {
		width: 30%;
		display: flex;
		align-items: center;
		position: relative;
		&:before {
			content: '';
			height: 18px;
			width: 1px;
			position: absolute;
			top: 50%;
			margin-top: -9px;
			right: 0;
			background: #C3C3C3;
			@media #{$tablet} {
				content: none;
			}
		}
		&:last-child {
			&:before {
				content: none;
			}
		}
	}
	&__col_wide {
		width: 40%;
	}
	&__col_copyright {
		@media #{$laptop} {
			width: 100%;
			margin-top: 20px;
			order: 2;
		@media #{$phone} {
			margin-top: 30px;
		}
			&:before {
				content: none;
			}
		}
	}
	&__col_payment,
	&__col_contacts {
		@media #{$laptop} {
			width: 50%;
		}
		@media #{$tablet} {
			width: 100%;
		}
	}
	&__copyright {
		font-size: 13px;
		line-height: 16px;
		color: #fff;
	}
	&__payment {
		width: 100%;
	}
}