.footer-contacts-item {
	position: relative;
	&:hover .footer-contacts-item__text {
		color: $lightBlue;
	}
	&__text {
		font-size: 13px;
		line-height: 20px;
		color: #fff;
		transition: $transition;
	}
	&__icon {
		width: 20px;
		height: 20px;
		position: absolute;
		left: 0;
		top: 0;
		fill: $lightBlue;
	}
}