.footer-payment {
	display: flex;
	justify-content: center;
	@media #{$laptop} {
		justify-content: flex-start;
	}
	@media #{$phone} {
		flex-direction: column;
	}
	&__item {
		padding-left: 30px;
		margin-left: 38px;
		@media #{$phone} {
			margin-left: 20px;
		}
		@media #{$phone} {
			margin-left: 0;
			margin-top: 10px;
		}
		&:first-child {
			margin-left: 0;
			@media #{$phone} {
				margin-top: 0;
			}
		}
	}
}
