.header {
	background: #10101d;
	opacity: 0.9;
	width: 100%;
	z-index: 11;
	position: fixed;
	top: 0;
	left: 0;
	@media #{$tablet} {
		opacity: 1;
		position: static;
		padding: 15px;
	}
	@media #{$phone} {
		padding: 10px;
	}
	&__mobile-menu {
		display: none;
		@media #{$tablet} {
			display: block;
			cursor: pointer;
		}
	}
	&__mobile-wrapper {
		width: 30px;
		height: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__mobile-row {
		width: 100%;
		height: 2px;
		background: #fff;
	}
	&__wrapper {
		@media #{$tablet} {
			height: 100%;
			position: absolute;
			top: 0;
			left: -100vw;
			max-width: 320px;
			padding: 70px 10px 0;
			background: #10101d;
			transition: left 0.175s;
		}
		&.is-opened {
			@media #{$tablet} {
				left: 0;
			}
		}
	}
	&__inner {
		display: flex;
		align-items: center;
		min-height: 100px;
		@media #{$tablet} {
			flex-direction: column;
		}
	}

	&__logo {
		font-family: 'Raleway', sans-serif;
		font-weight: 800;
		color: #fff;
		font-size: 28px;
		transition: $transition;
		width: 100%;
		max-width: 247px;
		text-transform: uppercase;
		&:hover {
			color: $blue;
		}
		&:hover span {
			color: #fff;
		}
		span {
			color: $blue;
			transition: $transition;
		}
	}
	&__menu {
		width: 38%;
		margin-left: auto;
		text-align: right;
		@media #{$laptop} {
			width: 50%;
		}
		@media #{$tablet} {
			width: 100%;
			text-align: left;
			margin-top: 30px;
		}
	}
	&__menu-item {
		margin-right: 60px;
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		transition: $transition;
		@media #{$tablet} {
			display: block;
			margin-right: 0;
			margin-bottom: 20px;
		}
		&.is-active {
			color: $blue;
		}
		&:last-child {
			margin-right: 0;
			@media #{$tablet} {
				margin-bottom: 0;
			}
		}
		&:hover {
			color: $blue;
		}
	}
	&__close {
		display: none;
		@media #{$tablet} {
			display: block;
			position: absolute;
			right: 10px;
			top: 10px;
			width: 25px;
			height: 25px;
			transition: $transition;
			cursor: pointer;
		}
		&:hover {
			transform: rotateZ(180deg);
		}
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 12px;
			height: 26px;
			width: 2px;
			background-color: #fff;
		}
		&:before {
			transform: rotateZ(45deg);
		}
		&:after {
			transform: rotateZ(-45deg);
		}
	}
}