.list-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
	padding: 0 10px;
	box-sizing: border-box;
	width: 100%;
	max-width: 209px;
	&:before {
		content: '';
		width: 100%;
		height: 6px;
		background: url('../img/steps-separator-bg.png') 0 50% repeat-x;
		background-size: auto 100%;
		position: absolute;
		top: 47px;
		left: calc(50% + 62px);
			@media #{$laptop} {
				content: none;
			}
	}
	&:last-child {
		&:before {
			content: none;
		}
	}
	&__text {
		margin-top: 20px;
		color: #fff;
		font-size: 16px;
		line-height: 19px;
	}
}