.menu {
	&__item {
		margin-right: 60px;
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		transition: $transition;
		@media #{$tablet} {
			display: block;
			margin-right: 0;
			margin-bottom: 20px;
		}
		&.menu__item_active {
			color: $blue;
		}
		&:last-child {
			margin-right: 0;
			@media #{$tablet} {
				margin-bottom: 0;
			}
		}
		&:hover {
			color: $blue;
		}
	}
}