@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@700&display=swap');

$blue:#43ABF0;
$lightBlue:#3E9CDC;
$gray:#C3C3C3;
$nearBlack:#272733;
$transition: all 0.175s;

$smallDesktop: 'screen and (max-width: 1679px)';
$laptop: 'screen and (max-width: 1279px)';
$tablet: 'screen and (max-width: 959px)';
$phone: 'screen and (max-width: 759px)';
$smallPhone: 'screen and (max-width: 479px)';